body{
    background-color: gray;
}

/* Header Orange Bar */
header{
    padding: 1em;
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #df8815ad;
    background-image:url("../images/pexels-rakicevic-nenad-1262304.jpg");
    background-size: 48% 55%;
    background-repeat: no-repeat;
    background-position: 76%;
    color: rgb(16, 11, 63);
    font-size: 20px;
    overflow:hidden;
    clear:both;
}

/* Header Orange Text */
.header h1{
    border-style:groove;
    border-width: 0.5em;
    border-color: #df8815ad;
    display: inline-block;
    text-shadow: 3px -1px lightslategray;
    padding: 0.2em;
    font-style: oblique;
}

/* Header text Underline Gradient */
.header h1::before {
    position:absolute;
    content: "";
    top: 3.28em;
    width: 11.4em;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(0.7deg, black 25%, white 80%);
    z-index: -1;
}

input.right{
    float:right;
    margin-top: 2.5em;
}

.header input{
    display:flex;
    padding: 1em;
    font-size: 0.9em;
}


/* When screen is less than 570px center text and shorten underline*/
@media screen and (max-width: 569.9px) {
    .header{
        text-align:center
    }
    
    .header h1::before{
    position:absolute;
    content: "";
    top: 3.2em;
    width: 7.4em;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(0.6deg, black 25%, white 80%);
    z-index: -1;
    }
}

/* When screen is less than 413px wide remove underline*/
@media screen and (max-width: 413px) {
    .header h1::before{
        position: relative;
    }
}

/* Removes banner image when Screem is less than 1365px wide */
@media screen and (max-width: 1365px) {
    .header{
        background-image: none;
    }
}

/* Left Siderbar for Internal Links */
aside{
    float:left;
    background-color: #df8815ad;
    border-style: solid;
    border-color: black;
    border-width: 0.15em;
    margin: 0.1em 0em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-display: block;
    color: rgb(16, 11, 63);
    text-shadow: 3px -1px lightslategray;
    text-decoration: underline;
}

/* Formatting for Left Sidebar */
aside li{
    padding: 1em;
    border-style: solid;
    list-style:none;
}

/* Hover color-change for left sidebar */
aside li:hover{
    background-color:gray;
    color:black;
}

/* Left Side Biography Panel */
article{
    float:right;
    width:18em;
    background-color: #df8815ad;
    border-style: solid;
    border-color: black;
    border-width: 0.4em;
    margin-top: 0.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/* Image specifically for Bio */
article img{
    width:200px;
    height:200px
}

/* Primary content box holding all the Project Cards */
main {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #df8815ad;
    margin:0.2em 20em;
    border-style: solid;
    border-color: black;
    border: 2em 2em 2em 2em;
    border-width:0.4em;
}

/* Modifiers for Individual Card Sizing */
main section{
    max-width: 33%;
    padding:8%;
    border-style: solid;
    border-color: black;
    border-width:0.3em;
}

/* Equalize Image Sizes */
img{
    width:300px;
    height:300px;
}

/* Remove Images when Screen Width gets too small */
@media screen and (max-width: 1500px) {
    img{
        display:none;
    }
}

/* Decrease Header font size when screen gets too small */
@media screen and (max-width: 980px) {
    h2{
        font-size:medium;
        float:left;
    }
}

/* Bottom Contact Info Formatting */
footer{
    line-height: 0%;
    border-style: dotted;
    background-color: antiquewhite;
    margin: 0.2em 61em;
}
